
.DS_Store
*/.DS_Store

release

# Object files
*.o

# Libraries
*.so
*.lib
*.a
*.dll
*.so.*
*.dylib
*Make*.*
*Make*
RegularExp.hpp

#folder
/nuXmv
/res
/verify
/test
*.smv

# Executables
*.exe
*.out
*.app

# Make.properties
./Make.properties
asm

# Codeblocks project files
*.layout
*.cbp

# Other files
*.png
*.dot

